/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* Noto Sans JP */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-300.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-500.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-600.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-jp-v55-japanese-700.woff2') format('woff2'),
    url('../fonts/noto-sans-jp-v55-japanese-700.ttf') format('truetype');
}

/* Noto Sans KR */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-kr-v38-korean-300.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-kr-v38-korean-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-kr-v38-korean-500.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-kr-v38-korean-600.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-kr-v38-korean-700.woff2') format('woff2'),
    url('../fonts/noto-sans-kr-v38-korean-700.ttf') format('truetype');
}

/* Noto Sans TC */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-300.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-500.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-600.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-tc-v38-chinese-traditional-700.woff2') format('woff2'),
    url('../fonts/noto-sans-tc-v38-chinese-traditional-700.ttf') format('truetype');
}

/* Noto Sans SC */

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-300.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-300.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 500;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-500.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-500.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-600.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-600.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/noto-sans-sc-v39-chinese-simplified-700.woff2') format('woff2'),
    url('../fonts/noto-sans-sc-v39-chinese-simplified-700.ttf') format('truetype');
}
